@import "../common.css";
@import "../header.css";

.content {
  max-width: 1024px;
}

h2 {
  display: inline-block;
}

.filter-text {
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 4px;
}

table {
  width: 100%;
}

th, td {
  white-space: nowrap;
  border: none;
}

th {
  border-bottom: 1px solid black;
}

td {
  border-top: 1px solid gray;
  text-align: center;
}

.type {
  width: 2em;
}

.account {
  width: 6em;
}

.datetime {
  width: 16ch;
}

.money {
  width: 8ch;
}

.location {
  white-space: normal;
  min-width: 8em;
}

.category {
  width: 3em;
}

.agent {
  width: 4em;
}

.remark {
  white-space: normal;
  min-width: 10em;
}

.action {
  width: 5em;
}

.filter-option {
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

ul, li{
  display: inline;
}

ul {
  font-size: 0.8em;
}

li {
  font-size: 1em;

  margin-left: 8px;
}