body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgb(51, 51, 51);
}

.content {
  max-width: 768px;
  margin: auto;
  padding: 0 16px;
}

a {
  color: rgba(0, 112, 201, 1);
}

a:link {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {color: rgba(0, 112, 201, 0.8); text-decoration: underline;}
