footer {
  border-top: 1px solid #e8e8e8;
  padding: 32px 0;
}

footer .icon > svg {
  fill: #888;
  height: 16px;
  margin: 0 4px 0 0;
  vertical-align: middle;
  width: 16px;
}

footer .site-name {
  color: #888;
}

footer .wrapper {
  margin: auto;
  max-width: 768px;
  padding: 0 24px;
}

footer ul {
  float: left;
  list-style: none;
}

footer li {
  margin: 8px 0;
}

footer .contact {
  float: left;
  min-width: 360px;
}

footer .account {
  min-width: 128px;
}

@media screen and (max-width: 535px) {

  footer .contact {
    min-width: 128px;
  }
  
  footer .account {
    float: right;
    min-width: 128px;
  }

}