body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgb(51, 51, 51);
}

.content {
  max-width: 768px;
  margin: auto;
  padding: 16px 16px;
}

a {
  color: rgba(0, 112, 201, 1);
}

a:link {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: none;}

h2 {
  margin: 24px 0 8px 0;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 8px;
}

tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.money {
  text-align: right;
}

a > svg {
  fill: black;
}

a > svg:hover {fill: rgba(0, 0, 0, 0.6);}
a > svg:active {fill: black;}
