header {
  background-color: rgba(0, 0, 0, 0.8);
  height: 44px;
  position: relative;
}

header .wrapper {
  max-width: 768px;
  margin: auto;
  padding: 11px 16px;
}

header a {
  color: white;
  text-decoration: none;
  margin-right: 32px;
}

header a:link {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

header a:active {
  color: white;
}
