th {
  white-space: nowrap;
}

td {
  white-space: nowrap;
}


/* account edit */
.form-group:hover .glyphicon-remove {
  -webkit-transition: opacity 0.3s ease-in-out;
       -o-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.glyphicon-remove {
  opacity: 0;
  position: relative;
    top: -26px;
    left: 8px;
  height: 0;
  cursor: pointer;
}


/* category */
h1 a, h1 a:hover { 
  color: #333; 
}

/* sticky */
@media all and (min-width: 768px) {
  .sticky {
    /* safari */
    position: -webkit-sticky;
    /* chrome firefox */
    position: sticky;
      top: 20px;
  }
}
