th, td {
  white-space: nowrap;
  text-align: center;
}

.type {
  width: 2em;
}

.account {
  width: 6em;
}

.datetime {
  width: 16ch;
}

.money {
  width: 8ch;
}

.location {
  white-space: normal;
  min-width: 8em;
}

.category {
  width: 3em;
}

.agent {
  width: 4em;
}

.remark {
  white-space: normal;
  min-width: 10em;
}

.action {
  width: 5em;
}
