@import "../common.css";

table {
  margin-top: 8px;
  width: 100%;
}

td {
  text-align: center;
  padding: 0;
}

body {
  padding-top: 32px;
  padding-right: 32px;
  padding-left: 32px;
}

input {
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 1em;
  padding: 8px;
  margin: 8px 0;
}

input[type=number] {
  text-align: right;
}

input.asset, input.debit {
  width: 248px;
}

input.credit {
  width: 164px;
}

tbody tr:hover {
  background-color: white;
}